//VARIABLES
$colorLink: #1db954;

//--MOBILE 320PX--
.btn__heart{
    background-color: #12263d;
    color: #ff9608;
    border: 0px solid #12263d;
    border-radius: 30%;
    font-size: 1.2rem;
    margin-left:3.5rem;
    height: 10%;
}
