//VARIABLES
$colorLink: #1db954;


//--MOBILE 320PX--
.section__MPlaylist{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #190907;
    padding-bottom: 3rem;
    padding-top: 1rem;
    
}
.section__playlist{
    width: 40vw;
    margin-bottom: 1rem;
}